.nav-bar {
  display: flex;
  // .nav-bar__item
  &__item {
    display: none;
    align-items: center;
    visibility: hidden;
    &--mobile {
      display: flex;
      visibility: visible;
    }
    @media (min-width: $md5) {
      display: flex;
      visibility: visible;
      &:not(:first-child) {
        margin-left: 20px;
      }
    }
    @media (min-width: $md2) {
      // display: flex;
      &:not(:first-child) {
        margin-left: 50px;
      }
    }
  }
  // .nav-bar__link
  &__link {
    display: flex;
    align-items: center;
    color: $white;
  }

  // .nav-bar__icon
  &__icon {
    position: relative;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    &--has-notify {
      margin-right: 11px;
      @media (min-width: $md4) {
        margin-right: 0;
      }
    }
    &--basket {
      background-image: url(../img/icons/nav-bar/cart.svg);
    }
    &--favorite {
      background-image: url(../img/icons/nav-bar/heart.svg);
    }
    &--login {
      background-image: url(../img/icons/nav-bar/login.svg);
    }
  }
  // .nav-bar__notify
  &__notify {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -11px;
    width: 24px;
    height: 21px;
    background-color: $orange;
    color: $white;
    font-size: 14px;
    line-height: 1.5;
  }
  // .nav-bar__price
  &__price {
    margin-right: 6px;
    white-space: nowrap;
  }
}
