//Стили для навигации и пагинации слайдера

//Pagination
.slider-pagination {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 15px;
  &--hero {
    @media (min-width: $md2) {
      grid-auto-flow: row;
    }
  }
  &--brands {
    position: absolute;
    bottom: -48px;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: $md1) {
      bottom: -56px;
    }
  }

  .swiper-pagination-bullet {
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid $orange-dark;
    cursor: pointer;
    &-active {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        background-color: $orange;
        transform: translate(-50%, -50%);
      }
    }
  }
}

//Navigation
.slider-nav {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: $bg;
  border: 1px solid $orange;
  &::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }
  &:active {
    border: 1px solid $orange-dark;
  }
  &:active.swiper-button-disabled {
    border: 1px solid $orange;
  }
  &.swiper-button-disabled {
    opacity: 0.5;
  }
  &.swiper-button-disabled {
    cursor: not-allowed;
  }
  &--left {
    &::before {
      border-right: 10px solid $orange;
    }
    &:active {
      &::before {
        border-right: 10px solid $orange-dark;
      }
    }
  }
  &--right {
    &::before {
      border-left: 10px solid $orange;
    }
    &:active {
      &::before {
        border-left: 10px solid $orange-dark;
      }
    }
  }
}
