.not-found {
  // .not-found__inner
  &__inner {
    @media (min-width: 680px) {
      display: flex;
    }
    &--bg {
      &::after {
        content: '';
        display: block;
        margin-top: -30%;
        background-image: url(../img/404/404-sm.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center bottom;
        max-width: 100%;
        height: 358px;
        @media (min-width: 680px) {
          margin-top: 0;
          flex-basis: 50%;
          background-image: url(../img/404/404-md.png);
          height: 486px;
        }
        @media (min-width: $md3) {
          height: 550px;
        }
        @media (min-width: $md2) {
          background-image: url(../img/404/404-lg.png);
          height: 762px;
        }
      }
    }
  }
  // .not-found__content
  &__content {
    padding-top: 60px;
    margin-bottom: 20px;
    @media (min-width: 680px) {
      flex-basis: 50%;
      margin-bottom: 0;
    }
    @media (min-width: $md4) {
      padding-top: 72px;
    }
    @media (min-width: $md2) {
      padding-top: 160px;
    }
  }
  // .not-found__text-wrapper
  &__text-wrapper {
    margin-bottom: 30px;
    max-width: 400px;
    @media (min-width: $md4) {
      margin-bottom: 50px;
    }
  }
  // .not-found__heading
  &__heading {
    font-family: $forum;
    font-size: 45px;
    color: $orange;
    margin-bottom: 20px;
    @media (min-width: $md4) {
      font-size: 60px;
    }
    @media (min-width: $md1) {
      font-size: 75px;
    }
  }
  // .not-found__desc
  &__desc {
    font-size: 20px;
    line-height: 1.4;
    @media (min-width: $md4) {
      font-size: 25px;
    }
  }
  // .not-found__button-wrapper
  &__button-wrapper {
    display: grid;
    row-gap: 20px;
    @media (min-width: $md7) {
      justify-content: start;
    }
    @media (min-width: $md4) {
      row-gap: 30px;
    }
    @media (min-width: $md2) {
      grid-auto-flow: column;
      column-gap: 40px;
      align-items: center;
    }
  }
  // .not-found__button
  &__button {
    white-space: nowrap;
  }
}
