.cart {
  // .cart__inner
  &__inner {
    @include padding-container($maxWidthContainer, $pl, $pr);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  // .cart__breadcrumbs
  &__breadcrumbs {
    margin-bottom: 20px;
  }
  // .cart__heading
  &__heading {
    font-family: $forum;
    font-size: 25px;
    margin-bottom: 20px;
    @media (min-width: $md4) {
      font-size: 50px;
    }
    // @media (min-width: $md2) {
    //   font-size: 60px;
    // }
  }
  // .cart__form
  &__form {
    @media (min-width: 1150px) {
      display: grid;
      grid-template-columns: 1fr 392px;
      grid-template-areas: 'main aside';
      column-gap: 20px;
      align-items: start;
    }
    @media (min-width: $md1) {
      column-gap: 40px;
    }
  }
  // .cart__main-content
  &__main-content {
    margin-bottom: 60px;
    @media (min-width: $md4) {
      margin-bottom: 80px;
    }
    @media (min-width: 1150px) {
      grid-area: main;
      margin-bottom: 0;
    }
  }
  // .cart__list
  &__list {
    margin-bottom: 60px;
    @media (min-width: $md4) {
      margin-bottom: 80px;
    }
  }
  // .cart__list-item
  &__list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'card card'
      'counter bar';
    row-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-light;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
    @media (min-width: $md4) {
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: 'card card card counter bar';
    }
    .cart-item__info {
      grid-area: card;
    }
    .cart-item__counter {
      grid-area: counter;
      justify-self: center;
      justify-self: start;
    }
    .cart-item__bar {
      grid-area: bar;
      justify-self: end;
      @media (min-width: $md6) {
        column-gap: 15px;
      }
      @media (min-width: $md4) {
        column-gap: 20px;
      }
    }
    .cart-item__bar-button {
      @media (min-width: $md4) {
        span {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
  // .cart__user-data
  &__user-data {
    // !.form__group {
    //   margin-bottom: 20px;
    // }
    .form__label {
      color: $grey;
      margin-bottom: 10px;
    }
    .field {
      padding: 16px 20px;
      border: 0;
    }
  }
  // .cart__sidebar
  &__sidebar {
    @media (min-width: 1150px) {
      grid-area: aside;
    }
  }
}

.cart-item {
  position: relative;
  width: 100%;
  // display: flex;
  // flex-wrap: wrap;
  // .cart-item__info
  &__info {
    display: flex;
    // margin-bottom: 20px;
  }
  // .cart-item__image
  &__image {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    user-select: none;
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
    @media (min-width: $md4) {
      width: 100px;
      height: 100px;
    }
  }
  // .cart-item__good-info
  &__good-info {
  }
  // .cart-item__name
  &__name {
    font-size: 15px;
    line-height: 1.1;
    color: $grey;
  }
  // .cart-item__price
  &__price {
    margin-bottom: 6px;
  }
  // .cart-item__price-item
  &__price-item {
    font-size: 16px;
    line-height: 1.3;
    &--unit-price {
      font-size: 12px;
      color: $grey;
    }
  }
  // .cart-item__counter
  &__counter {
    .counter__input {
      width: 38px;
      height: 38px;
      font-size: 15px;
      line-height: 1.4;
    }
    .counter__button {
      width: 40px;
      height: 38px;
    }
  }
  // .cart-item__bar
  &__bar {
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 10px;
    justify-content: start;
  }
  // .cart-item__bar-button
  &__bar-button {
    display: inline-block;
    margin: -5px;
    padding: 5px;
    span {
      display: block;
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &--trash {
      span {
        background-image: url(../img/icons/trash.svg);
      }
    }
    &--favorite {
      span {
        background-image: url(../img/icons/product-card/heart-empty.svg);
      }
    }
  }
}
.user-data-cart {
  // .user-data-cart__heading
  &__heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 25px;
  }
  // .user-data-cart__block
  &__block {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    &--grid {
      display: grid;
    }
    &--recipient {
      gap: 20px;
      @media (min-width: $md4) {
        grid-template-columns: repeat(2, 1fr);
        // grid-template-areas: 'name name name phone phone mail mail mail';
      }
    }
    &--address {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'city city'
        'street street'
        'apartment entrance'
        'floor intercom';
      gap: 20px;
      @media (min-width: $md4) {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
          'city city city street street street street street'
          'apartment apartment entrance entrance floor floor intercom intercom';
      }
    }
  }
  // .user-data-cart__group
  &__group {
    /* Address */
    &--city {
      grid-area: city;
    }
    &--street {
      grid-area: street;
    }
    &--apartment {
      grid-area: apartment;
    }
    &--entrance {
      grid-area: entrance;
    }
    &--floor {
      grid-area: floor;
    }
    &--intercom {
      grid-area: intercom;
    }
  }
}
.sidebar-cart {
  font-family: $jost;
  max-width: 392px;
  // .sidebar-inner
  &__inner {
    background-color: $white;
  }
  // .sidebar-cart__group
  &__group {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid $grey-light;
    &:first-child {
      padding-top: 30px;
    }
    &:last-child {
      padding-bottom: 40px;
      border: 0;
    }
    @media (min-width: $md4) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
.options-cart {
  // .options-cart__group
  &__group {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  // .options-cart__group-heading
  &__group-heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  // .options-cart__group-content
  &__group-content {
    .radio {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      &::after {
        content: '';
        display: block;
        margin-left: 10px;
        width: 20px;
        height: 20px;
        background-image: url(../img/icons/tooltip.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    .radio__box {
      margin-right: 10px;
    }
  }
}
.total-cart {
  // .total-cart__group
  &__group {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  // .total-cart__item
  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 0;
    }
    &--total {
      .total-cart__item-content,
      .total-cart__item-title {
        font-size: 25px;
        font-weight: 700;
        line-height: 1.15;
      }
    }
  }
  // .total-cart__item-title
  &__item-title {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    margin-right: 15px;
  }
  // .total-cart__item-content
  &__item-content {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4;
  }
  // .total-cart__form
  &__form {
    .form__group {
      margin-bottom: 15px;
    }
    .form__label {
      margin-bottom: 10px;
      font-size: 17px;
      line-height: 1.4;
      color: $grey;
    }
    .field {
      padding: 23px 30px;
    }
  }
  // .total-cart__form-button
  &__form-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
.order-cart {
  // .order-cart__button-wrapper
  &__button-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  // .order-cart__button
  &__button {
    // width: 100%;
    &:first-child {
      margin-bottom: 10px;
    }
  }
  // .order-cart__checkbox
  &__checkbox {
    display: flex;
    align-items: center;
    .checkbox__box {
      flex-shrink: 0;
      margin-right: 20px;
    }
    .checkbox__text {
      font-size: 13px;
      line-height: 1.2;
      a {
        color: $orange;
        text-decoration: underline;
      }
    }
  }
}
