.catalog {
  // .catalog__products
  &__inner {
    @include padding-container($maxWidthContainer, $pl, $pr);
    @include gutters;
    display: flex;
    flex-wrap: wrap;
  }
  // .catalog__breadcrumbs
  &__breadcrumbs {
  }
  // .catalog__heading
  &__heading {
    width: 100%;
    font-family: $forum;
    line-height: 1;
    font-size: 32px;
    margin-bottom: 20px;
    @media (min-width: $md5) {
      font-size: 36px;
    }
    @media (min-width: $md4) {
      font-size: 50px;
      margin-bottom: 30px;
    }
    @media (min-width: $md2) {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }
  // .catalog__filter
  &__filter {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: $bg;
    flex-direction: column;
    &.open {
      display: flex;
    }
    @media (min-width: 1280px) {
      position: initial;
      position: sticky;
      display: block;
      width: calc(100% / 4);
      padding-right: 20px;
    }
  }
  // .catalog__products
  &__products {
    width: 100%;
    @media (min-width: 1280px) {
      width: calc(100% / 12 * 9);
      padding-left: 20px;
    }
  }
  // .catalog__products-panel
  &__products-panel {
    display: grid;
    grid-template-areas:
      'trigger view'
      'sort sort';
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 30px;
    grid-auto-flow: column;
    width: 100%;
    margin-bottom: 20px;
    & > * {
      align-self: center;
    }
    @media (min-width: $md5) {
      grid-template-areas: 'trigger sort view';
      grid-template-columns: min-content minmax(0, 1fr) min-content;
      margin-bottom: 30px;
    }
    @media (min-width: 1280px) {
      margin-bottom: 50px;
    }
    .products-panel__filter-trigger {
      @media (min-width: 1280px) {
        display: none;
        visibility: hidden;
      }
    }
    .products-panel__select {
      width: 100%;
      @media (min-width: $md7) {
        width: initial;
      }
    }
    .products-panel__select-list {
      width: 100%;
    }
    .products-panel__label {
      display: none;
      @media (min-width: $md7) {
        display: inline-block;
      }
      @media (min-width: $md5) {
        display: none;
      }
      @media (min-width: 658px) {
        display: block;
      }
    }
    .products-panel__sort {
      @media (min-width: $md5) {
        justify-self: end;
      }
    }
    .products-panel__change-view {
      justify-self: end;
    }
  }
  // .catalog__products-container
  &__products-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 50px;
    @media (min-width: $md6) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: $md2) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  // .catalog__product-card
  &__product-card {
    /* чтобы элемент не выпирал, это происходит из-за ширины 'auto', 
    что означает что элемент грида может увеличиваться в ширину из-за длинного содержимого.
    Решения: 
    в минмакс проставить 0
    grid-template-columns: minmax(0, 1fr) 248px; 
    В доч. эл. проставить min-width: 0;
    или overflow: hidden, но овф обрежет элем*/
    min-width: 0;
  }
  // .catalog__button
  &__button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 275px;
  }
  // .catalog__pagination
  &__pagination {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24px, min-content));
    justify-content: center;
    grid-auto-flow: column;
    column-gap: 10px;
  }
}
