.contacts {
  // .contacts__inner
  &__inner {
    @include padding-container($maxWidthContainer, $pl, $pr);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  // .contacts__breadcrumbs
  &__breadcrumbs {
    margin-bottom: 20px;
  }
  // .contacts__heading
  &__heading {
    font-family: $forum;
    font-size: 25px;
    margin-bottom: 20px;
    @media (min-width: $md4) {
      font-size: 50px;
    }
    // @media (min-width: $md2) {
    //   font-size: 60px;
    // }
  }
}
