.product {
  // .product__inner
  &__inner {
    @include padding-container($maxWidthContainer, $pl, $pr);
    @include gutters;
    display: flex;
    flex-wrap: wrap;
  }
  // .product__breadcrumbs
  &__breadcrumbs {
  }
  // .product__heading
  &__heading {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 20px;
    @media (min-width: $md5) {
      font-size: 26px;
    }
    @media (min-width: $md4) {
      font-size: 30px;
    }
  }
  // .product__card
  &__card {
    width: 100%;
    margin-bottom: 30px;
    // margin-bottom: 50px;
  }
  // .product__card-inner
  &__card-inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    @media (min-width: $md4) {
      margin-left: -15px;
      margin-right: -15px;
    }
    @media (min-width: $md2) {
      margin-left: -20px;
      margin-right: -20px;
    }
    // margin: -25px -20px;
  }
  // .product__details
  &__details {
    .details-product__item {
      margin-bottom: 20px;
    }
    @media (min-width: $md4) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
      .details-product__item {
        width: 50%;
        padding: 0 10px;
      }
    }
    @media (min-width: $md2) {
      margin: 0 -20px;
      .details-product__item {
        width: 50%;
        padding: 0 20px;
      }
    }
  }
  // .product__gallery
  &__gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @media (min-width: $md5) {
      width: 45%;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 0;
    }
    @media (min-width: $md4) {
      flex-wrap: nowrap;
      width: 60%;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (min-width: 920px) {
      width: 50%;
    }
    @media (min-width: $md2) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  // .product__thumbs-slider
  &__thumbs-slider {
    width: 100%;
    @media (min-width: $md4) {
      order: -1;
      flex-shrink: 0;
      width: 83px;
      margin-right: 10px;
    }
  }
  // .product__thumbs-slider-inner
  &__thumbs-slider-inner {
    @media (min-width: $md4) {
      height: 400px;
    }
  }
  // .product__thumbs-slide
  &__thumbs-slide {
    background-color: $bg-card;
    &.swiper-slide {
      height: auto;
      width: 83px;
      @media (min-width: $md4) {
        height: 83px;
      }
    }
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border: 1px solid transparent;
      /* Для alt */
      //!нужна фиксированная высота блока чтобы можно было центрировать
      // display: grid;
      // place-items: center;
      // font-size: 10px;
    }
    &.swiper-slide-thumb-active {
      & img {
        border: 1px solid $orange;
      }
      /* Почему-то не работает в хрома на телефоне */
      // box-shadow: inset 0 0 0 1px $red;
    }
    .swiper-lazy {
      opacity: 0;
    }
    .swiper-lazy-loaded {
      opacity: 1;
    }
  }
  // .product__slider
  &__slider {
    // width: 100%;
    margin-bottom: 10px;
    @media (min-width: $md4) {
      // width: unset;
      margin-bottom: 0;
    }
    .swiper-lazy {
      opacity: 0;
    }
    .swiper-lazy-loaded {
      opacity: 1;
    }
  }
  // .product__slide
  &__slide {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  // .product__info
  &__info {
    width: 100%;
    @media (min-width: $md5) {
      width: 55%;
      padding-left: 10px;
      padding-right: 10px;
    }
    @media (min-width: $md4) {
      width: 40%;
      padding-left: 15px;
      padding-right: 15px;
    }
    @media (min-width: 920px) {
      width: 50%;
    }
    @media (min-width: $md2) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  // .product__actions
  &__actions {
  }
  // .product__price
  &__price {
    margin-bottom: 25px;
  }
  // .product__price-inner
  &__price-inner {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 15px;
  }
  // .product__price-item
  &__price-item {
    white-space: nowrap;
    color: $orange;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
    @media (min-width: $md2) {
      font-size: 24px;
    }
    &--old-price {
      font-size: 15px;
      font-weight: 400;
      color: $grey-light;
      text-decoration: line-through;
      @media (min-width: $md2) {
        font-size: 17px;
      }
    }
  }
  // .product__available
  &__available {
    margin-bottom: 16px;
    font-size: 17px;
    line-height: 1.3;
    color: $grey;
    span {
      color: $orange;
    }
  }
  // .product__desc
  &__desc {
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1.4;
    span {
      display: block;
      color: $grey;
      margin: 0 0 8px;
    }
    p {
      margin: 8px 0;
    }
  }
  // .product__button-wrapper
  &__button-wrapper {
    display: inline-grid;
    row-gap: 10px;
    width: 100%;
    @media (min-width: $md6) {
      grid-auto-flow: column;
      grid-template-columns: 2fr 1fr;
      column-gap: 16px;
    }
    @media (min-width: $md5) {
      grid-auto-flow: row;
      grid-template-columns: none;
    }
    @media (min-width: 920px) {
      grid-auto-flow: column;
      grid-template-columns: 2fr 1fr;
      column-gap: 26px;
    }
  }
  // .product__button
  &__button {
    margin-left: 16px;
    margin-right: 16px;
  }
  // .product__share
  &__share {
    order: -1;
    justify-self: center;
    @media (min-width: $md6) {
      order: 1;
      justify-self: start;
      align-self: center;
    }
    @media (min-width: $md5) {
      order: -1;
      justify-self: center;
    }
    @media (min-width: 920px) {
      order: 1;
      justify-self: start;
    }
  }
  // .product__share-button
  &__share-button {
    padding: 5px 8px;
    color: $grey;
    text-decoration: underline dotted;
    &:hover,
    &:focus {
      color: lighten($color: $grey, $amount: 12%);
    }
    &:active {
      color: darken($color: $grey, $amount: 20%);
    }
  }
}

.details-product {
  // .details-product__heading
  &__heading {
    font-family: $jost;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.15;
    margin-bottom: 20px;
  }
  // .details-product__text
  &__text {
    font-family: $jost;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    p {
      margin: 15px 0;
    }
  }
  // .details-product__table
  &__table {
    width: 100%;
    border-collapse: collapse;
  }
  // .details-product__caption
  &__caption {
    margin-bottom: 20px;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
  }
  // .details-product__tbody
  &__tbody {
    border: 1px solid $grey-light;
  }
  // .details-product__tr
  &__tr {
    &:nth-child(odd) {
      background-color: $grey-light;
    }
  }
  // .details-product__cell
  &__cell {
    font-size: 15px;
    line-height: 1.4;
    padding: 20px 12px;
    letter-spacing: 0.02em;
    &:first-child {
      width: 60%;
    }
    &:nth-child(2) {
      width: 40%;
    }
  }
}
//========================================================================================================================================================
.related-products {
  // .related-products__inner
  &__inner {
    @include padding-container($maxWidthContainer, $pl, $pr);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  // .related-products__item
  &__item {
    &:not(:last-child) {
      margin-bottom: 60px;
      @media (min-width: $md4) {
        margin-bottom: 80px;
      }
      @media (min-width: $md2) {
        margin-bottom: 70px;
      }
    }
  }
  // .related-products__heading-wrapper
  &__heading-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @media (min-width: $md4) {
      margin-bottom: 40px;
    }
    @media (min-width: $md1) {
      margin-bottom: 45px;
    }
  }
  // .related-products__heading
  &__heading {
    font-family: $forum;
    font-size: 25px;
    @media (min-width: $md4) {
      font-size: 50px;
    }
    @media (min-width: $md1) {
      font-size: 60px;
    }
  }
  // .related-products__see-all
  &__see-all {
    font-size: 15px;
    line-height: 1.4;
    color: $black;
    align-self: flex-end;
    @media (min-width: $md4) {
      font-size: 25px;
    }
  }
  // .related-products__slider
  &__slider {
    position: relative;
    .swiper-slide {
      width: 240px;
      @media (min-width: $md7) {
        width: 289px;
      }
    }
    .slider-pagination {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      // z-index: -1;
      // position: absolute;
      // left: 50%;
      // bottom: 0;
      // transform: translateX(-50%);
      @media (min-width: $md4) {
        margin-top: 45px;
      }
      @media (min-width: $md2) {
        display: none;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
      z-index: 2;
      position: absolute;
      top: calc(50% - 40px);
      transform: translateY(-50%);
      @media (min-width: $md2) {
        display: flex;
      }
    }
    .swiper-button-prev {
      left: 0;
      @media (min-width: 1300px) {
        left: -24px;
      }
    }
    .swiper-button-next {
      right: 0;
      @media (min-width: 1300px) {
        right: -24px;
      }
    }
  }
  // .related-products__slider-inner
  &__slider-inner {
    &.swiper {
      padding-bottom: 80px;
    }
  }
}
