//<МИКСИНЫ>===============================================================================================
@import 'mixins';
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,500,700&display=swap&subset=cyrillic-ext);
@import 'fonts';
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Inter';
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1504px;

$md1: 1400px;
$md2: 1024px;
$md3: 992px;
$md4: 768px;
$md5: 576px;
$md6: 480px;
$md7: 375px;

$mainColor: #000;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'null';
body {
  color: $mainColor;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: $md5) {
    padding-left: 32px;
    padding-right: 32px;
  }
  &--sm {
    max-width: 1014px;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import 'animations';
@import 'vars';
@import 'forms';
// @import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import 'header';
@import 'footer';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
  &__slider-solution {
    padding-top: 100px;
    padding-bottom: 30px;
    @media (min-width: $md4) {
      padding-top: 120px;
      padding-bottom: 36px;
    }
    // @media (min-width: $md3) {
    //   padding-bottom: 160px;
    // }
    @media (min-width: $md1) {
      // padding-bottom: 200px;
      padding-bottom: 84px;
    }
  }
  &__sertification {
    padding-top: 104px;
    padding-bottom: 50px;
    @media (min-width: $md4) {
      padding-top: 64px;
      padding-bottom: 72px;
    }
    @media (min-width: $md3) {
      padding-bottom: 80px;
    }
  }
}
