//colors
$black: #000000;
$white: #ffffff;
$grey: #636b78;
$grey-light: #d0d0d0;
//decorate-colors
$bg-black: #050402;
$orange: #bb8c5f;
$orange-dark: #524336;

//fonts
$forum: 'Forum', cursive;
$jost: 'Jost', sans-serif; //variable-font
$montserrat-regular: 'Montserrat', sans-serif;
$montserrat-medium: 'Montserrat', sans-serif;

//wrapper-paddings
$pl: 20px;
$pr: 20px;
