.filter-trigger {
  display: inline-grid;
  grid-template-columns: 20px min-content;
  grid-auto-flow: column;
  column-gap: 12px;
  & > * {
    align-self: center;
  }
  // .filter-tirgger__icon
  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/icons/filter-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  // .filter-tirgger__text
  &__text {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.4;
    @media (min-width: $md4) {
      font-size: 20px;
    }
    @media (min-width: $md2) {
      font-size: 22px;
    }
  }
}
