.form {
  // .form__group
  &__group {
  }
  // .form__label
  &__label {
    font-size: 17px;
    line-height: 1.4;
  }
  // .form__group-fields
  &__group-fields {
  }
}
.field {
  padding: 8px 14px;
  font-family: $montserrat;
  font-size: 15px;
  line-height: 1.5;
  border: 1px solid $orange-dark;
  outline: none;
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
  &:hover,
  &:focus {
    border-color: $orange;
    box-shadow: 0 0 2px $orange;
  }
  // &::placeholder {
  //   color: $grey-light;
  //   font-size: 17px;
  //   line-height: 1.4;
  // }
  &--full-width {
    width: 100%;
  }
}
.checkbox {
  position: relative;
  cursor: pointer;
  // padding-left: 20px;
  &--red {
    .checkbox__box {
      background-color: $red;
      box-shadow: none;
    }
    .checkbox__input:checked + .checkbox__box {
      background-color: $red;
      box-shadow: 0 0 0 1px $red;
    }
    .checkbox__input:focus-visible + .checkbox__box {
      background-color: $red;
      box-shadow: 0 0 5px 1px $red;
    }
  }
  &--yellow {
    .checkbox__box {
      background-color: $yellow;
      box-shadow: none;
    }
    .checkbox__input:checked + .checkbox__box {
      background-color: $yellow;
      box-shadow: 0 0 0 1px $yellow;
    }
    .checkbox__input:focus-visible + .checkbox__box {
      background-color: $yellow;
      box-shadow: 0 0 5px 1px $yellow;
    }
  }
  &--green {
    .checkbox__box {
      background-color: $green;
      box-shadow: none;
    }
    .checkbox__input:checked + .checkbox__box {
      background-color: $green;
      box-shadow: 0 0 0 1px $green;
    }
    .checkbox__input:focus-visible + .checkbox__box {
      background-color: $green;
      box-shadow: 0 0 5px 1px $green;
    }
  }
  &--blue {
    .checkbox__box {
      background-color: $blue;
      box-shadow: none;
    }
    .checkbox__input:checked + .checkbox__box {
      background-color: $blue;
      box-shadow: 0 0 0 1px $blue;
    }
    .checkbox__input:focus-visible + .checkbox__box {
      background-color: $blue;
      box-shadow: 0 0 5px 1px $blue;
    }
  }
  &--pink {
    .checkbox__box {
      background-color: $pink;
      box-shadow: none;
    }
    .checkbox__input:checked + .checkbox__box {
      background-color: $pink;
      box-shadow: 0 0 0 1px $pink;
    }
    .checkbox__input:focus-visible + .checkbox__box {
      background-color: $pink;
      box-shadow: 0 0 5px 1px $pink;
    }
  }
  &--grey-dark {
    .checkbox__box {
      background-color: $grey-dark;
      box-shadow: none;
    }
    .checkbox__input:checked + .checkbox__box {
      background-color: $grey-dark;
      box-shadow: 0 0 0 1px $grey-dark;
    }
    .checkbox__input:focus-visible + .checkbox__box {
      background-color: $grey-dark;
      box-shadow: 0 0 5px 1px $grey-dark;
    }
  }
  // .checkbox__input
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    /* Checked */
    &:checked + .checkbox__box {
      background-color: $orange;
      box-shadow: 0 0 0 1px $orange;
      background-image: url(../../img/checkbox/check.svg);
    }
    /* Focused */
    &:focus-visible + .checkbox__box {
      box-shadow: 0 0 0 1px $orange, 0 0 0 2px $orange-dark;
    }
    /* Disabled */
    &:disabled + .checkbox__box {
      box-shadow: 0 0 0 1px #9b9b9b;
      background-color: $white;
    }
    &:checked:disabled + .checkbox__box {
      background-color: #9b9b9b;
    }
  }
  // .checkbox__box
  &__box {
    // position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    // margin-left: -20px;
    background-color: $white;
    box-shadow: 0 0 0 1px $orange;
  }
  // .checkbox__text
  &__text {
  }
}

.radio-button {
  position: relative;
  cursor: pointer;
  background-color: $white;
  border: 2px solid $orange;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  appearance: none;
  color-adjust: exact;
  transition: box-shadow 0.1s linear;
  &:hover {
    box-shadow: 0 0 2px 0px $orange;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  /* Checked */
  &:checked::before {
    background-color: $orange;
    width: 10px;
    height: 10px;
  }
  /* Active */
  &:active::before {
    background-color: $orange;
    width: 12px;
    height: 12px;
  }
  /* Disabled */
  &:disabled {
    border: 2px solid #bdbdbd;
    background-color: $white;
    box-shadow: none;
    &::before {
      background-color: $white;
    }
  }
  &:checked:disabled {
    // border: 2px solid #bdbdbd;
    // background-color: #bdbdbd;
    // box-shadow: none;
    &::before {
      background-color: #bdbdbd;
      width: 10px;
      height: 10px;
    }
  }
  &.error {
    border: 2px solid #bdbdbd;
    background-color: $white;
    box-shadow: none;
    &::before {
      background-color: $white;
    }
  }
  &.inactive {
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
    box-shadow: none;
    &::before {
      background-color: #bdbdbd;
    }
  }
  &--offset-right {
    margin-right: 10px;
  }
}

.radio {
  position: relative;
  cursor: pointer;
  // .radio__input
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    /* Checked */
    &:checked + .radio__box {
      // background-color: $orange;
      // box-shadow: 0 0 0 1px $orange;
      &::before {
        background-color: $orange;
        width: 10px;
        height: 10px;
      }
    }
    /* Active */
    &:active + .radio__box {
      &::before {
        background-color: $orange;
        width: 12px;
        height: 12px;
      }
    }
    &:active:disabled + .radio__box {
      &::before {
        background-color: $white;
      }
    }
    &:active:checked:disabled + .radio__box {
      &::before {
        background-color: #9b9b9b;
      }
    }
    /* Focused */
    &:focus + .radio__box {
      box-shadow: 0 0 3px 0 $orange-dark;
    }
    /* Disabled */
    &:disabled + .radio__box {
      border: 2px solid #9b9b9b;
      background-color: $white;
      &:hover {
        box-shadow: none;
      }
    }
    /* не уверен что нужно, тк не знаю 
    можно ли с клавиатуры переключатся 
    с выключенного на работающий радио-баттон */
    &:checked:disabled + .radio__box {
      &::before {
        background-color: #9b9b9b;
        width: 10px;
        height: 10px;
      }
    }
  }
  // .radio__box
  &__box {
    position: relative;
    // position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    // margin-left: -20px;
    background-color: $white;
    border: 2px solid $orange;
    // box-shadow: 0 0 0 2px $orange;
    border-radius: 50%;
    color-adjust: exact;
    transition: box-shadow 0.1s linear;
    &:hover {
      box-shadow: 0 0 2px 0 $orange;
    }
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  /* Checked */
  // &:checked::before {
  //   background-color: $orange;
  //   width: 10px;
  //   height: 10px;
  // }
  /* Active */
  &:active::before {
    background-color: $orange;
    width: 12px;
    height: 12px;
  }
  /* Disabled */
  &:disabled {
    border: 2px solid #bdbdbd;
    background-color: $white;
    box-shadow: none;
    &::before {
      background-color: $white;
    }
  }
  &:checked:disabled {
    // border: 2px solid #bdbdbd;
    // background-color: #bdbdbd;
    // box-shadow: none;
    &::before {
      background-color: #bdbdbd;
      width: 10px;
      height: 10px;
    }
  }
  // &.error {
  //   border: 2px solid #bdbdbd;
  //   background-color: $white;
  //   box-shadow: none;
  //   &::before {
  //     background-color: $white;
  //   }
  // }
  // &.inactive {
  //   border: 2px solid #bdbdbd;
  //   background-color: #bdbdbd;
  //   box-shadow: none;
  //   &::before {
  //     background-color: #bdbdbd;
  //   }
  // }
  // &--offset-right {
  //   margin-right: 10px;
  // }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 21px;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .switch__slider {
      background-color: $orange;
      &::before {
        transform: translateX(15px);
      }
    }
    &:focus + .switch__slider {
      box-shadow: 0 0 1px $orange;
    }
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $grey-light;
    transition: 0.4s;
    &::before {
      position: absolute;
      content: '';
      height: 15px;
      width: 15px;
      left: 3px;
      bottom: 3px;
      background-color: $white;
      transition: 0.4s;
    }
  }
}
