/* Файл для инпутов: чекбоксы, радио и тд, можно тянуть в разные проекты.
Не доработанный, пока что делаю в нем .check
*/
//todo
.form {
  // .form__group
  &__group {
  }
  // .form__label
  &__label {
    font-size: 17px;
    line-height: 1.4;
  }
  // .form__group-fields
  &__group-fields {
  }
}
//todo
.field {
  padding: 8px 14px;
  font-family: $montserrat;
  font-size: 15px;
  line-height: 1.5;
  border: 1px solid $orange-dark;
  outline: none;
  transition: box-shadow 0.2s linear, border-color 0.2s linear;
  &:hover,
  &:focus {
    border-color: $orange;
    box-shadow: 0 0 2px $orange;
  }
  // &::placeholder {
  //   color: $grey-light;
  //   font-size: 17px;
  //   line-height: 1.4;
  // }
  &--full-width {
    width: 100%;
  }
}
//!del
.checkbox {
  position: relative;
  cursor: pointer;
  &--red {
    .checkbox__text {
      &::before {
        border: 1px solid $red;
        background-color: $red;
      }
      &:focus,
      &:hover {
        &::before {
          border: 1px solid darken($color: $red, $amount: 10%);
        }
      }
    }
    .checkbox__input:checked + .checkbox__text::before {
      background-color: $red;
      border: 1px solid $red;
    }
  }
  &--yellow {
    .checkbox__text {
      &::before {
        border: 1px solid $yellow;
        background-color: $yellow;
      }
      &:focus,
      &:hover {
        &::before {
          border: 1px solid darken($color: $yellow, $amount: 10%);
        }
      }
    }
    .checkbox__input:checked + .checkbox__text::before {
      background-color: $yellow;
      border: 1px solid $yellow;
    }
  }
  &--green {
    .checkbox__text {
      &::before {
        border: 1px solid $green;
        background-color: $green;
      }
      &:focus,
      &:hover {
        &::before {
          border: 1px solid darken($color: $green, $amount: 10%);
        }
      }
    }
    .checkbox__input:checked + .checkbox__text::before {
      background-color: $green;
      border: 1px solid $green;
    }
  }
  &--blue {
    .checkbox__text {
      &::before {
        border: 1px solid $blue;
        background-color: $blue;
      }
      &:focus,
      &:hover {
        &::before {
          border: 1px solid darken($color: $blue, $amount: 10%);
        }
      }
    }
    .checkbox__input:checked + .checkbox__text::before {
      background-color: $blue;
      border: 1px solid $blue;
    }
  }
  &--pink {
    .checkbox__text {
      &::before {
        border: 1px solid $pink;
        background-color: $pink;
      }
      &:focus,
      &:hover {
        &::before {
          border: 1px solid darken($color: $pink, $amount: 10%);
        }
      }
    }
    .checkbox__input:checked + .checkbox__text::before {
      background-color: $pink;
      border: 1px solid $pink;
    }
  }
  &--grey-dark {
    .checkbox__text {
      &::before {
        border: 1px solid $grey-dark;
        background-color: $grey-dark;
      }
      &:focus,
      &:hover {
        &::before {
          border: 1px solid darken($color: $grey-dark, $amount: 10%);
        }
      }
    }
    .checkbox__input:checked + .checkbox__text::before {
      background-color: $grey-dark;
      border: 1px solid $grey-dark;
    }
  }
  // .checkbox__input
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    &:checked + .checkbox__text::before {
      background-color: $orange;
      border: 1px solid $orange;
    }
    &:checked + .checkbox__text::after {
      display: block;
    }
  }
  // .checkbox__text
  &__text {
    position: relative;
    padding-left: 40px;
    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $orange;
    }
    &::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 3px;
      display: none;
      width: 14px;
      height: 8px;
      border-bottom: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-50deg);
    }
    &:focus,
    &:hover {
      &::before {
        border: 1px solid $orange-dark;
      }
    }
  }
  &--only {
    display: inline-block;
    width: 20px;
    height: 20px;
    &.group-filter__label {
      margin-bottom: 0;
    }
    .checkbox__text {
      position: initial;
      display: inline-block;
      padding-left: 0;
    }
  }
}
// in progress
.check {
  padding-left: 1.2em;
  // .check__input
  &__input {
    appearance: none;
    /* Нужно сменить (на initial)/убрать position: absolute, если нужен чекбокс без текста, 
    но в IE11 будет видна точка стандартного чекбокса */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    // Должно быть 6
    /* Checked */
    &:checked + .check__box {
      background-color: $orange;
      // background-image: url(../img/checkbox/check.svg);
      /* Инлайновый цсс, загрузится со стилями.
      Изобр. не отобразилось в IE11, мб у меня лаг */
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"%3E%3Cpolyline fill="none" stroke="%23fff" stroke-width="3" points="1.079 4.999 5 9 10.837 2"/%3E%3C/svg%3E');
    }
    /* Focused */
    &:focus + .check__box {
      box-shadow: 0 0 0 0.1em rebeccapurple, 0 0 0 0.2em #5c2e8a;
    }
    /* Disabled */
    &:disabled + .check__box {
      box-shadow: 0 0 0 0.1em #9b9b9b;
    }
    &:checked:disabled + .check__box {
      background-color: #9b9b9b;
    }
  }
  // .check__box
  &__box {
    position: absolute;
    /* высота/ширина относительно шрифта */
    width: 0.6em;
    height: 0.6em;
    margin-top: 0.2em;
    margin-left: -1em;
    background-color: white;
    box-shadow: 0 0 0 0.1em rebeccapurple;
    // &::before {
    //   content: '';
    //   display: inline-block;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   border: 1px solid rebeccapurple;
    // }
    /* Галочка */
    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 1px;
    //   left: 1px;
    //   display: none;
    //   width: 9px;
    //   height: 5px;
    //   border-bottom: 2px solid #fff;
    //   border-left: 2px solid #fff;
    //   transform: rotate(-50deg);
    // }
  }
}
//todo
.radio-button {
  position: relative;
  cursor: pointer;
  background-color: $white;
  border: 2px solid $orange;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  appearance: none;
  color-adjust: exact;
  transition: box-shadow 0.1s linear;
  &:hover {
    box-shadow: 0 0 2px 0px $orange;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  &:checked::before {
    background-color: $orange;
    width: 10px;
    height: 10px;
  }
  &:active::before {
    background-color: $orange;
    width: 12px;
    height: 12px;
  }
  &.error {
    border: 2px solid #bdbdbd;
    background-color: $white;
    box-shadow: none;
    &::before {
      background-color: $white;
    }
  }
  &.inactive {
    border: 2px solid #bdbdbd;
    background-color: #bdbdbd;
    box-shadow: none;
    &::before {
      background-color: #bdbdbd;
    }
  }
  &--offset-right {
    margin-right: 10px;
  }
}
//*готовый, нужно проверить
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 21px;

  /* Hide default HTML checkbox -- думаю, надо переделать*/
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .switch__slider {
      background-color: rebeccapurple;
      &::before {
        transform: translateX(15px);
      }
    }
    &:focus + .switch__slider {
      box-shadow: 0 0 1px rebeccapurple;
    }
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    transition: 0.4s;
    &::before {
      position: absolute;
      content: '';
      height: 15px;
      width: 15px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
    }
  }
}
