.products-panel {
  // .products-panel__filter-trigger
  &__filter-trigger {
    grid-area: trigger;
  }
  // .products-panel__sort
  &__sort {
    display: flex;
    align-items: center;
    grid-area: sort;
  }
  // .products-panel__select
  &__select {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    // align-items: center;
    &::after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid #000;
      transform: translateY(-50%);
      transition: transform 0.1s linear;
      /* Чтобы прокликнуть сквозь элемент */
      pointer-events: none;
    }
    & > * {
      align-self: center;
    }
  }
  // .products-panel__label
  &__label {
    font-size: 17px;
    line-height: 1.5;
    color: $grey;
  }
  // .products-panel__select-list
  &__select-list {
    appearance: none;
    min-width: 220px;
    padding: 12px 50px 12px 20px;
    background-color: $white;
    font-family: inherit;
    font-size: 17px;
    font-weight: 500;
  }
  // .products-panel__change-view
  &__change-view {
    grid-area: view;
  }
}
