//Подключение шрифта
@mixin font($font-name, $file-name, $weight, $style: 'normal', $font-display: 'swap') {
  @font-face {
    font-family: $font-name;
    font-display: #{$font-display};
    src: url('../fonts/#{$file-name}.woff2') format('woff2'),
      url('../fonts/#{$file-name}.woff') format('woff');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

//container
@mixin container($max-width, $width: 100%) {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  width: $width;
}

@mixin padding-container($max-width, $left, $right, $width: 100%) {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $left;
  padding-right: $right;
  width: $width;
}
