//colors
$black: #000000;
$white: #ffffff;
$grey: #636b78;
$grey-light: #d0d0d0;
$text-white: #faf6f2;
$text-dark: #3e424b;
//decorate-colors
$bg-black: #050402;
$orange: #bb8c5f;
$orange-dark: #524336;
$bg: #eeeeee;
$bg-card: #f5f5f5;
$red: #eb5757;
$yellow: #f2c94c;
$green: #27ae60;
$blue: #2f80ed;
$pink: #ef5da8;
$grey-dark: #333333;

//wrapper-paddings
$pl: 20px;
$pr: 20px;
