/* Socials */
.socials {
  display: inline-grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 10px;
  /* Добавлять мод-р, если будут ссылки с иконками */
  &--has-icon {
    .socials__link {
      &::before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
      }
      &:hover,
      &:focus-visible {
        &::before {
          filter: brightness(0.86);
        }
      }
    }
  }
  &--icon-20px {
    .socials__link::before {
      width: 30px;
      height: 30px;
    }
  }
  &--dark {
    .socials__link {
      color: $text-dark;
    }
  }

  // .socials__link
  &__link {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
    color: $white;
    white-space: nowrap;
    &:hover,
    &:focus-visible {
      color: $orange;
    }
    &--viber {
      &::before {
        background-image: url(../img/icons/viber.svg);
      }
    }
    &--whatsapp {
      &::before {
        background-image: url(../img/icons/whatsapp.svg);
      }
    }
    &--telegram {
      &::before {
        background-image: url(../img/icons/telegram.svg);
      }
    }
  }
}
